@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../public/fonts/Alegreya-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../public/fonts/AlegreyaSans-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../../public/fonts/AlegreyaSans-Bold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../../public/fonts/AlegreyaSans-Light.woff2) format('woff2');
  }

  @font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../../public/fonts/AlegreyaSans-Medium.woff2) format('woff2');
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes hide {
  0% {
    width:100%;
  }
  100% {
    width: 0%;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.animate-collapse {
  animation: hide 0.3s backwards;
}

.animate-uncollapse {
  animation: show 0.3s forwards;
}

